---
import Writer from "../shared/Writer.astro";
import styles from "../../utils/styles";
---

<div class="business-hero min-h-[80vh] flex items-center overflow-hidden">
  <div class="container mx-auto py-10">
    <h1 class="business-hero__heading font-normal text-4xl">
      <b>Oscar Trollhag</b> | <Writer
        prepend={["Frilanskonsult", "Fullstack-utvecklare"]}
        texts={[
          "Problemlösare",
          "Frontend-utvecklare",
          "Backend-utvecklare",
          "Kaffenörd",
        ]}
        randomize
      />
      <noscript>Frilanskonsult inom Webbutveckling och Data/IT</noscript>
    </h1>
    <div
      class="business-hero__body grid grid-cols-3 gap-6 items-center text-2xl"
    >
      <div class="col-span-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          rhoncus magna nec ligula malesuada commodo. Pellentesque sapien mi,
          mattis a massa a, bibendum hendrerit ligula.
        </p>
        <ul class="flex gap-4 justify-between items-center mt-6">
          <li>
            <a href="#contact" class:list={[styles.button({ size: "small" })]}>
              Kontakt
            </a>
          </li>
          <li>
            <a href="mailto:oscar@trollhag.com" class:list={[styles.link()]}>
              oscar@trollhag.com
            </a>
          </li>
          <li>
            <a href="tel:+46 76 272 99 13" class:list={[styles.link()]}>
              +46 76 272 99 13
            </a>
          </li>
        </ul>
      </div>
      <div class="business-hero__image">
        <img
          src="/portrait.jpg"
          alt="Porträtt av Oscar Trollhag"
          class="rounded-full"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .business-hero__image {
    position: relative;
    z-index: -1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      background: #eee;
      border-radius: 9999999px;
    }
    &::before {
      top: 0;
      left: 0;
      width: 1000%;
      transform: rotateZ(-45deg) translate(-76.8%, -318%);
    }
    &::after {
      bottom: 0;
      left: -170%;
      width: 1000%;
      transform: rotateZ(-45deg) translate(14%, -318%);
    }
    img {
      position: relative;
      z-index: 1;
    }
  }
  /* .business-hero__heading {
    font-weight: normal;
  }
  .business-hero__body {
    font-size: 1.6rem;
  }
  .business-hero__body img {
    border-radius: 50%;
  } */
</style>
