---
import Layout from "../layouts/Layout.astro";
import BusinessHero from "../components/blocks/BusinessHero.astro";
---

<Layout title="Oscar Trollhag | Frilanskonsult inom Webbutveckling och Data/IT">
  <section class="page">
    <BusinessHero />
  </section>
</Layout>
