---
import LightMode from '../assets/icons/mode-light.svg'
import DarkMode from '../assets/icons/mode-dark.svg'
---

<div
  class="print:hidden fixed z-40 h-0 bottom-4 sm:top-4 sm:bottom-auto left-4 right-4 flex justify-end"
>
  <button
    type="button"
    class="bg-slate-300 dark:bg-slate-800 w-10 h-10 rounded-full shadow"
    @click="$dispatch('app:darkmode', !darkmode)"
  >
    <template x-if="darkmode"><LightMode class="text-lg m-auto" /></template>
    <template x-if="!darkmode"><DarkMode class="text-lg m-auto" /></template>
  </button>
</div>
