---
import { Picture } from 'astro:assets'
import Writer from './shared/Writer.astro'
import Portrait from '../assets/portrait.jpg'
---

<section class="business-hero min-h-screen flex items-center overflow-hidden">
  <div class="container mx-auto p-10 relative z-10">
    <h1 class="business-hero__heading font-normal text-4xl/normal mb-8">
      <b>Oscar Trollhag</b> | <Writer
        prepend={['Frilanskonsult', 'Fullstack-utvecklare']}
        texts={[
          'Problemlösare',
          'Frontend-utvecklare',
          'Backend-utvecklare',
          'Kaffenörd',
        ]}
        randomize
      />
      <noscript>Frilanskonsult inom Webbutveckling och Data/IT</noscript>
    </h1>
    <div
      class="business-hero__body flex flex-wrap-reverse md:grid grid-cols-3 gap-8 items-center text-xl sm:text-2xl"
    >
      <div class="col-span-2">
        <p>
          <span class="text-2xl sm:text-4xl">Hej! 👋 </span>Jag är
          frilanskonsult och webbutvecklare som älskar att bygga snabba, snygga
          och smarta webbapplikationer. Med 10+ års erfarenhet hjälper jag
          företag att skapa bättre digitala lösningar – från nya webbplatser
          till vidareutveckling och optimering av befintliga system.
        </p>
        <ul class="flex gap-4 justify-between items-center mt-6">
          <li>
            <a href="#services" class="link decoration-primary-600">
              Tjänster
            </a>
          </li>
          <li>
            <a href="#projects" class="link decoration-primary-600">Projekt</a>
          </li>
          <li>
            <a
              href="#contact"
              class="button button-small border-button-primary hover:button-primary"
            >
              Kontakt
            </a>
          </li>
        </ul>
      </div>
      <div class="business-hero__image text-zinc-100 dark:text-slate-800">
        <Picture
          src={Portrait}
          alt="Porträtt av Oscar Trollhag"
          class="rounded-full"
        />
      </div>
    </div>
  </div>
</section>

<script>
  import gsap, { ScrollTrigger } from 'gsap/all'
  gsap.registerPlugin(ScrollTrigger)
  gsap.fromTo(
    '.business-hero__image',
    {
      '--animate-1-top': '170%',
      '--animate-1-left': '-170%',
      '--animate-2-bottom': '170%',
      '--animate-2-left': '0%',
    },
    {
      delay: 0.25,
      duration: 0.75,
      scrollTrigger: '.business-hero',
      '--animate-1-top': '0%',
      '--animate-1-left': '0%',
      '--animate-2-bottom': '0%',
      '--animate-2-left': '-170%',
    },
  )
</script>
