---
import ContactForm from './ContactForm.astro'
---

<section id="contact" class="bg-primary-600 py-10">
  <div data-scroller="" class="container mx-auto">
    <h2
      data-animate=""
      class="text-4xl font-semibold text-neutral-50 mb-6 px-6"
    >
      Hör av dig!
    </h2>
    <div data-animate="" class="md:grid grid-cols-2 gap-6">
      <div class="px-6 mb-6 text-neutral-50">
        <p class="mb-4">
          Har du en idé, ett projekt eller en fråga? Oavsett om det handlar om
          samarbete, nätverkande eller bara ett intressant samtal, är du mer än
          välkommen att höra av dig. Jag gillar att diskutera allt från teknik
          och design till affärsutveckling och kreativa lösningar.
        </p>
        <p class="mb-4"></p>
        <ul>
          <li class="mb-2">
            Epost: <a
              href="mailto:oscar@trollhag.com"
              target="_blank"
              class="link decoration-black">oscar@trollhag.com</a
            >
          </li>
          <li class="mb-2">
            LinkedIn: <a
              href="https://www.linkedin.com/in/oscar-trollhag/"
              target="_blank"
              class="link decoration-black">linkedin.com/in/oscar-trollhag/</a
            >
          </li>
          <li class="mb-2">
            Keybase: <a
              href="https://keybase.io/trollhag"
              target="_blank"
              class="link decoration-black">trollhag</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap, { ScrollTrigger } from 'gsap/all'
  gsap.registerPlugin(ScrollTrigger)
  gsap.from('#contact [data-animate]', {
    y: 60,
    opacity: 0,
    stagger: 0.25,
    scrollTrigger: {
      trigger: '#contact [data-scroller]',
      start: 'top bottom',
      end: 'bottom bottom',
      scrub: true,
    },
  })
</script>
