---
import IconClose from "../assets/icons/close.svg";
---

<div
  x-data="toasts"
  @app:toast.window="append($event.detail)"
  class="fixed bottom-4 left-1/2 -translate-x-1/2"
>
  <template x-for="(toast, id) in toasts">
    <div
      :id="`toast-${id}`"
      x-show="toast.open"
      class="px-4 py-2 mb-2 bg-slate-100 dark:bg-slate-900 shadow-lg rounded border-l-4 flex justify-center w-80"
      :class="{ 'border-slate-900 dark:border-slate-100': toast.color === '', 'border-l-emerald-500': toast.color === 'success', 'border-l-red-600': toast.color === 'error' }"
      x-transition.scale.0.origin.bottom.center.duration.150ms
      @mouseenter="stopDismiss(id)"
      @mouseleave="startDismiss(id)"
    >
      <div>
        <p
          x-if="toast.title === undefined"
          x-text="toast.title"
          class="font-bold"
        >
        </p>
        <span x-text="toast.message" class="text-sm"></span>
      </div>
      <button
        x-if="toast.dismissable"
        type="button"
        class="ml-4"
        @click="dismiss(id)"
      >
        <IconClose />
      </button>
    </div>
  </template>
</div>

<script>
  import Alpine from "alpinejs";
  import { toasts } from "../stores/toasts";

  document.addEventListener("alpine:init", () => {
    Alpine.data("toasts", toasts);
  });
</script>
