---
import '../styles/global.css'
import '@fontsource/open-sans'
import '@fontsource/open-sans/600.css'
import { ClientRouter } from 'astro:transitions'
import Actions from '../components/Actions.astro'
import Toast from '../components/Toast.astro'

interface Props {
  title?: string
}

const { title = 'Frilanskonsult inom Webbutveckling och Data/IT' } = Astro.props
---

<!doctype html>
<html lang="sv" x-data="darkmode" :class="{ dark: darkmode }">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <title>Oscar Trollhag | {title}</title>
    <ClientRouter />
  </head>
  <body
    @app:darkmode.window="setDarkmode($event.detail)"
    class="text-zinc-950 dark:text-zinc-50 bg-zinc-50 dark:bg-slate-900"
  >
    <main>
      <slot />
    </main>
    <footer class="p-8">
      <p class="text-center">Copyright © 2025 Oscar Trollhag</p>
    </footer>
    <Actions />
    <Toast />
    <!-- <style is:global></style> -->
    <script>
      import Alpine from 'alpinejs'
      import gsap, { ScrollToPlugin, ScrollTrigger } from 'gsap/all'
      import { darkmode } from '../stores/darkmode'
      gsap.registerPlugin(ScrollToPlugin, ScrollTrigger)

      document.addEventListener('alpine:init', () => {
        Alpine.data('darkmode', darkmode)
      })

      document.querySelectorAll('a[href^="#"]').forEach(function (anchor) {
        anchor.addEventListener('click', function (event) {
          event.preventDefault()

          const scrollTo = anchor.getAttribute('href')
          if (scrollTo) {
            gsap.to(window, { scrollTo })
          }
        })
      })
    </script>
  </body>
</html>
